@import url('http://fonts.cdnfonts.com/css/mali');

:root {
  --primary-color: #090e13;
  --secondary-color: #18212a;
  --font-primary: #ffffff;
  --font-secondary: #73b5f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mali', sans-serif;
}

a {
  text-decoration: none;
}


body {
  background: var(--primary-color);
}

.container {
  margin: 0px 40px;
}


.header {
  background-color: var(--secondary-color);
  height: 72px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--font-primary);
  font-size: 20px;
  font-weight: 600;
}

.user-image .user-image img {
  width: 38px;
  height: 38px;
}

.footer {
  background-color: var(--secondary-color);
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-primary);
  flex-direction: column;
}

.movie-list {
  margin: 20px 0px;
}

.movie-list h2 {
  color: var(--font-secondary);
  margin-bottom: 10px;
  font-weight: 400;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 15px;
}

.card-item {
  background: var(--secondary-color);
  cursor: pointer;
}

.card-top {
  height: 300px;
}


.card-bottom {
  padding: 20px;
}

.card-info {
  color: var(--font-primary);
}

.card-info h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}